<%- include('partials/header') -%>
<script src="https://js.stripe.com/v3"></script>
<script src="./code/main.js" defer></script>
<script> const stripePublicKey = '<%= stripePublicKey %>' </script>

<!-- STORE -->
<div class="container store-container">
  <h1 class="page-title">Store</h1>
  <div class="row pb-5 mb-4">
    <% products.forEach((product) => { %>
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <div
        class="card rounded shadow-sm border-0"
        data-item-id="<%= product.stripeId %>"
      >
        <div class="card-body p-4">
          <img
            src="images/<%= product.imgName %>"
            alt=""
            class="img-fluid d-block mx-auto mb-3 shop-item-image"
          />
          <h5 class="text-dark shop-item-title"><%= product.name %></h5>
          <p class="small text-muted font-italic">
            <%= product.description %>
          </p>
          <small class="shop-item-price">$<%= product.price / 100 %></small><br />
          <% if (!product.inStock) { %>
            <button class="btn btn-warning mt-3 shop-item-button" disabled>Out Of Stock</button> 
          <% } else { %>
            <button class="btn btn-warning mt-3 shop-item-button">Add To Cart</button>
          <% } %>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<!-- CART -->
<section class="container cart-section">
  <h2 class="section-header">CART</h2>
  <div class="cart-row">
    <span class="cart-item cart-header cart-column">ITEM</span>
    <span class="cart-price cart-header cart-column">PRICE</span>
    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
  </div>
  <div class="cart-items"></div>
  <div class="cart-total">
    <strong class="cart-total-title">Total</strong>
    <span class="cart-total-price">$0</span>
  </div>
  <button class="btn email-btn btn-purchase" type="button">PURCHASE</button>
</section>
<%- include('partials/footer') -%>
