<%- include('partials/header') -%>
<script src="https://js.stripe.com/v3"></script>
<!-- STORE -->

<div class="container store-container">
  <h1 class="page-title">Store</h1>
  <div class="row pb-5 mb-4">
    <% items.forEach((item) => { %>
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <div
        class="card rounded shadow-sm border-0"
        data-item-id="<%= item.stripeId %>"
      >
        <div class="card-body p-4">
          <img
            src="images/<%= item.imgName %>"
            alt=""
            class="img-fluid d-block mx-auto mb-3 shop-item-image"
          />
          <h5 class="text-dark shop-item-title"><%= item.name %></h5>
          <p class="small text-muted font-italic">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <small class="shop-item-price">$<%= item.price / 100 %></small><br />
          <btn class="btn btn-warning mt-3 shop-item-button">Add To Cart</btn>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<!-- CART -->
<section class="container cart-section">
  <h2 class="section-header">CART</h2>
  <div class="cart-row">
    <span class="cart-item cart-header cart-column">ITEM</span>
    <span class="cart-price cart-header cart-column">PRICE</span>
    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
  </div>
  <div class="cart-items"></div>
  <div class="cart-total">
    <strong class="cart-total-title">Total</strong>
    <span class="cart-total-price">$0</span>
  </div>
  <button class="btn email-btn btn-purchase" type="button">PURCHASE</button>
</section>

<!-- STRIPE -->
<script>
  const stripePublicKey = '<%= stripePublicKey %>'
</script>
<script src="./code/main.js"></script>
<%- include('partials/footer') -%>
